.banner-container{
  display: flex;
  justify-content: space-around;
}
.name-container{
   padding-top: 10em;
   padding-left: 8rem;
   
}
.images{
    margin-top: 5rem;
    border-radius: 10px;
    
}
.images img{
    height: 380px;
    width: 450px;
}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .banner-container{
        display: inline-block;

    }
}